#intro {
	height: auto;
}
#season_filter_div {
	/*border: 2px solid black;
	border-left-width: 4px;*/
	height: 200px;
	width: 20%;
	display: block;
	float: left;
}
input[type="checkbox"] {
	margin-right: 8px;
	float:left;
  clear:both;
}
input[type="radio"] {
	margin-right: 8px;
	float:left;
  clear:both;
}
/*.inputdiv {
	text-align: center
}*/
.inputdiv {
	/*width: 70%;*/
	display: inline-block;
}
input[type="text"] {
	border-radius: 3px;
  border:solid 1px gray;
}
#quarter_filter_div {
	/*border: 2px solid black;*/
	height: 200px;
	width: 20%;
	display: block;
	float: left;	
	text-align: center;
}

#shot_distance_filter {
	/*border: 2px solid black;*/
	height: 200px;
	width: 20%;
	display: block;
	float: left;
	text-align: center;
}

#shot_type_filter {
	/*border: 2px solid black;*/
	height: 200px;
	width: 20%;
	display: block;
	float: left;
	text-align: center;
}

#game_type_filter {
	/*border: 2px solid black;
	border-right-width: 4px;*/
	height: 200px;
	width: 20%;
	display: block;
	float: left;
	text-align: center;
}

#consecutive_shots_filter {
	width: 50%;
	display: block;
	float: left;
}

#time_span_filter {
	width: 50%;
	display: block;
	float: left;
}
.filter_header {
	font-weight: bold;
}

#form_div {
	border: 1px solid black;
	margin-top: 10px;
	padding-bottom: 10px;
}