#intro {
	height: auto;
}
#permutation_test {
	height: auto;
}
.section {
	min-height: 300px;
	padding-bottom: 20px;
}
input[type="checkbox"] {
	/*margin-right: 8px;*/
	float:left;
  clear:both;
}
input[type="radio"] {
	margin-right: 8px;
	float:left;
  clear:both;
}
/*.inputdiv {
	text-align: center
}*/
.inputdiv {
	/*width: 70%;*/
	display: inline-block;
}
input[type="text"] {
	border-radius: 3px;
  border:solid 1px gray;
}
#season_filter_div {
	/*border: 2px solid black;
	border-left-width: 4px;*/
	/*height: 200px;*/
	/*width: 20%;*/
	/*display: inline-block;*/
	float: left;
}
#quarter_filter_div {
	/*border: 2px solid black;*/
	/*height: 200px;*/
	/*width: 20%;*/
	/*display: inline-block;*/
	/*float: left;	*/
	text-align: center;
}

#shot_distance_filter {
	/*border: 2px solid black;*/
	/*height: 200px;*/
	/*width: 20%;*/
	/*display: inline-block;*/
	/*float: left;*/
	text-align: center;
}

#shot_type_filter {
	/*border: 2px solid black;*/
	/*height: 200px;*/
	/*width: 20%;*/
	/*display: inline-block;*/
	float: left;
	text-align: center;
}

#game_type_filter {
	/*border: 2px solid black;
	border-right-width: 4px;*/
	/*height: 200px;*/
	/*width: 20%;*/
	/*display: inline-block;*/
	float: left;
	text-align: center;
}

#consecutive_shots_filter {
	/*width: 50%;*/
	display: inline-block;
	float: left;
}

#time_span_filter {
	/*width: 50%;*/
	display: inline-block;
	float: left;
}
.filter_header {
	font-weight: bold;
	margin-bottom: 15px;
}
#filter_button {
	margin-top: 7px;
}
#data_filter_div {
	height: auto;
}

#form_div {
	border: 1px solid black;
	padding-bottom: 30px;
	margin-top: 50px;
	border-radius: 8px;
}

#submit_warning {
	margin-top: 20px;
	display: none;
}

.help-button {
	width: 30px;
	height: 30px;
	position: absolute;
	margin-left: 200px;
	top: 20px;
}
.filter_div {
	padding: 4px;
	border-radius: 10px;
}

.player-info-field {
	display: inline-block;
}
