.alextooltip {   
	position: absolute;           
	text-align: center;           
	padding: 5px;             
	font: 12px sans-serif;        
	font-weight: bold;
	color: white;
	background: rgb(80,80,80);   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;
	bottom:20%;
	right: 15%;
}

.scatteraxis path,
.scatteraxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.scatteraxis text {
	font-family: sans-serif;
	font-size: 11px;
}

#legend{
	float: right;
	margin-top: 10px;
	padding-bottom: 10px;
}